*.bsc
*.exp
*.log
*.obj
*.pdb
*.cache
*.lastbuildstate
*.sdf
*.suo
*.user
*.ipch
*.tlog
*.lnk
*.exe
*.idb
*.lib
*.opensdf
*.ilk
*.tlog
*.unsuccessfulbuild
*.asml
Development/Intermediate/
*.res
/Intermediate/externals.x64/Release
/Development/Tools/Launcher/obj/Release
/Development/libs.x64/Release
